* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(bg.jpg) center center/cover no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

/* body {
    background: var(--bg-color);
    color: var(--text-color);
    background: url() no-repeat cover;
} */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;

    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.sticky {
    background: var(--bg-color);
    /* background-color: red; */
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navber {
    position: relative;
}

.navber a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transform: .4s;
    text-decoration: none;
}

.navber a:hover,
.navber a.active {
    color: var(--main-color);
}

#menu-icon {
    position: relative;
    font-size: 3.8rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
